#pokemonImage {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 256px;
  height: 256px;
  margin-left: 10px; }
  #pokemonImage img {
    width: 256px;
    height: 256px; }

#basicInfo {
  position: absolute;
  width: 256px;
  margin-left: 10px;
  margin-bottom: 10px;
  top: 400px;
  left: 0px; }
  #basicInfo div {
    margin: 5px; }
  #basicInfo h1 {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo .subtitle {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo #altName {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 15px; }

#statPageTab {
  position: fixed;
  width: 75%;
  left: 300px;
  top: 110px; }

#statsPageWrapper {
  position: fixed;
  top: 137px;
  bottom: 10px;
  left: 300px;
  right: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap; }
  #statsPageWrapper #statsPage {
    margin: 10px 0px 20px 10px; }
    #statsPageWrapper #statsPage .pokedexEntry {
      margin-left: 10px; }
    #statsPageWrapper #statsPage .statBarGraph {
      margin: 0px 0px 0px 20px; }
    #statsPageWrapper #statsPage .tableRow {
      margin: 0px 0px 0px 20px; }
      #statsPageWrapper #statsPage .tableRow .statTable {
        display: inline-block; }
    #statsPageWrapper #statsPage #row3 {
      margin-bottom: 20px; }
    #statsPageWrapper #statsPage #level100 {
      margin: 20px 0px 0px 20px; }
    #statsPageWrapper #statsPage #level50 {
      margin: 20px 0px 0px 20px; }
    #statsPageWrapper #statsPage .movesSet {
      border: 1px solid;
      display: inline-block; }
    #statsPageWrapper #statsPage .addButton {
      margin: 10px 10px 10px 10px;
      width: 60px;
      height: 60px;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top; }

#statsPageWrapper::-webkit-scrollbar {
  display: none; }
