.minMaxTextBox{
	.minText{
		display: inline-block;
	}
	.minInput{
		width: 30px;
	}
	.maxText{
		display: inline-block;
	}
	.maxInput{
		width: 30px;
	}
	.submitButton{
		margin: 0px 0px 0px 10px
	}
}