$normalBackground: #A8A878;
$fireBackground: #F08030;
$waterBackground: #6890F0;
$electricBackground: #F8D030;
$grassBackground: #78C850;
$iceBackground: #98D8D8;
$fightingBackground: #C03028;
$poisonBackground: #A040A0;
$groundBackground: #E0C068;
$flyingBackground: #A890F0;
$psychicBackground: #F85888;
$bugBackground: #A8B820;
$rockBackground: #B8A038;
$ghostBackground: #705898;
$dragonBackground: #7038F8;
$darkBackground: #705848;
$steelBackground: #B8B8D0;
$fairyBackground: #EE99AC;

$psychic-fairy: -webkit-gradient(linear, left top, right bottom,
			color-stop(25%, $psychicBackground),
			color-stop(100%, $fairyBackground));

.normalBackground{
	background: $normalBackground;
}
.fireBackground{
	background: $fireBackground;
}
.waterBackground{
	background: $waterBackground;
}
.electricBackground{
	background: $electricBackground;
}
.grassBackground{
	background: $grassBackground;
}
.iceBackground{
	background: $iceBackground;
}
.fightingBackground{
	background: $fightingBackground;
}
.poisonBackground{
	background: $poisonBackground;
}
.groundBackground{
	background: $groundBackground;
}
.flyingBackground{
	background: $flyingBackground;
}
.psychicBackground{
	background: $psychicBackground;
}
.bugBackground{
	background: $bugBackground;
}
.rockBackground{
	background: $rockBackground;
}
.ghostBackground{
	background: $ghostBackground;
}
.dragonBackground{
	background: $dragonBackground;
}
.darkBackground{
	background: $darkBackground;
}
.steelBackground{
	background: $steelBackground;
}
.fairyBackground{
	background: $fairyBackground;
}
.psychic-fairy{
	background: $psychic-fairy;
}

$webColors: -webkit-gradient(linear, left top, right bottom,
			color-stop(25%, $fireBackground),
			color-stop(100%, $iceBackground));

.webBackground{
	background: $webColors;
}
