$normalBorder: #A87878;
$fireBorder: #F05030;
$waterBorder: #6860F0;
$electricBorder: #F8A030;
$grassBorder: #789850;
$iceBorder: #98A8D8;
$fightingBorder: #C00028;
$poisonBorder: #A010A0;
$groundBorder: #E09068;
$flyingBorder: #A860F0;
$psychicBorder: #F82888;
$bugBorder: #A88820;
$rockBorder: #B87038;
$ghostBorder: #702898;
$dragonBorder: #7008F8;
$darkBorder: #702848;
$steelBorder: #B888D0;
$fairyBorder: #EE69AC;


.normalBorder{
	border: 3px solid $normalBorder;
}
.fireBorder{
	border: 3px solid $fireBorder;
}
.waterBorder{
	border: 3px solid $waterBorder;
}
.electricBorder{
	border: 3px solid $electricBorder;
}
.grassBorder{
	border: 3px solid $grassBorder;
}
.iceBorder{
	border: 3px solid $iceBorder;
}
.fightingBorder{
	border: 3px solid $fightingBorder;
}
.poisonBorder{
	border: 3px solid $poisonBorder;
}
.groundBorder{
	border: 3px solid $groundBorder;
}
.flyingBorder{
	border: 3px solid $flyingBorder;
}
.psychicBorder{
	border: 3px solid $psychicBorder;
}
.bugBorder{
	border: 3px solid $bugBorder;
}
.rockBorder{
	border: 3px solid $rockBorder;
}
.ghostBorder{
	border: 3px solid $ghostBorder;
}
.dragonBorder{
	border: 3px solid $dragonBorder;
}
.darkBorder{
	border: 3px solid $darkBorder;
}
.steelBorder{
	border: 3px solid $steelBorder;
}
.fairyBorder{
	border: 3px solid $fairyBorder;
}