.movesList{ 
	white-space: nowrap;
	.col{
		display: inline-block;
		vertical-align: top;
	}
	.ccol{
		display: inline-block;
		vertical-align: middle;
	}
	.movesFilter{
		.checkBoxCatagory{
			margin: 10px 10px 10px 10px;
			h3{
				margin: 0px 0px 5px 4px;
			}
			.checkbox{
				padding: 2px 0px 2px 0px;
				margin: 0px 10px 0px 0px;
				.box{
					margin: 3px 0px 3px 4px;
				}
				.normalText{
				}
				.typeText{
					width: 70px;
					text-align: center;
					border-radius: 7px;
				}
			}
		}
		.standardTextbox{
			margin: 10px 10px 10px 10px;
			h3{
				margin: 0px 0px 5px 0px;
			}
			.textBox{
				.text{

				}
				.box{
					width: 30px;
				}
			}
		}
		.submitButton{
			margin: 0px 0px 0px 10px
		}
	}
	.movesTable{
		width: 706px;
		white-space: nowrap;
		overflow: hidden;
		.row{
			font-size: 0;
			display: flex;
		}
	    .cell{
	    	align-items: stretch;
	    	display: inline-block;
	    	padding: 5px 0px 5px 0px;
	    	text-align:center;
	    	border-width: 1px;
			margin-bottom: -1px;
			margin-left: -1px;
			font-size: 1rem;
	    }
	    .move{
	    	width: 20%;
	    }
	    .type{
	    	width: 10%;
	    	.text{
	    		margin: auto;
				width: 70px;
				border-radius: 7px;
			}	
	    }
	    .category{
			width: 10%;
	    }
	    .power{
	    	width: 5%;	
	    }
	    .accuracy{
	    	width: 5%;
	    }
	    .effect{
	    	width: 44%;
	    	white-space: normal;
	    	overflow: hidden;
	    }
	    .pp{
	    	width: 5%;
	    }
	}
}