$statModifier: 3;

$hpMax: 255px;
$attackMax: 190px;
$defenseMax: 230px;
$spAttackMax: 194px;
$spDefenseMax: 230px;
$speedMax: 180px;

$baseBarColorHp: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(31%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

$baseBarColorAttack: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(47%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

$baseBarColorDefense: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(36%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

$baseBarColorSpAttack: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(44%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

$baseBarColorSpDefense: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(36%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

$baseBarColorSpeed: -webkit-gradient(linear, left top, right top,
					color-stop(0%, rgba(255, 0, 0, 1)),
					color-stop(43%, rgba(255, 255, 0, 1)),
					color-stop(100%, rgba(0, 255, 0, 1)));

.pokemonStatsBarGraph{
	.graphTitle{
		
	}
	.graphData{
		.row{
			margin: 10px 0px 0px 0px;
			white-space: nowrap;
		}
		.cell{
			display: inline-block;
			vertical-align: middle;
		}
		.col0{
			width: 100px;
		}
		.col1{
			width: 50px;
		}
		.col2{
			.statBar{
				height: 25px;
				display: inline-block;
			}
			.barCover{
				background: white;
			}
			.hpBar{
				background: $baseBarColorHp;
				width: $hpMax * $statModifier;
			}
			.attackBar{
				background: $baseBarColorAttack;
				width: $attackMax * $statModifier;
			}
			.defenseBar{
				background: $baseBarColorDefense;
				width: $defenseMax * $statModifier;
			}
			.spAttackBar{
				background: $baseBarColorSpAttack;
				width: $spAttackMax * $statModifier;
			}
			.spDefenseBar{
				background: $baseBarColorSpDefense;
				width: $spDefenseMax * $statModifier;
			}
			.speedBar{
				background: $baseBarColorSpeed;
				width: $speedMax * $statModifier;
			}
		}
	}
}