#pokemonImageWrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 256px;
  height: 256px;
  margin-left: 10px;
  border: 3px solid; }
  #pokemonImageWrapper img {
    width: 256px;
    height: 256px; }

#basicInfo {
  position: absolute;
  width: 256px;
  margin-left: 10px;
  margin-bottom: 10px;
  top: 400px;
  left: 0px;
  border: 3px solid; }
  #basicInfo div {
    margin: 5px; }
  #basicInfo h1 {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo .subtitle {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo #altName {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 15px; }

#statPageTab {
  position: fixed;
  width: 75%;
  left: 300px;
  top: 110px; }
  #statPageTab #pokedex {
    border: 3px solid; }
  #statPageTab #stats {
    border: 3px solid; }
  #statPageTab #moves {
    border: 3px solid; }

#statsPageWrapper {
  position: fixed;
  top: 137px;
  bottom: 10px;
  left: 300px;
  right: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  border: 3px solid; }
  #statsPageWrapper .scrollbar {
    width: 10px;
    right: 13px;
    top: 140px;
    bottom: 13px;
    background: black; }
    #statsPageWrapper .scrollbar .thumb {
      -webkit-mask: url("/res/img/stock/scrollbar_mask.png");
      height: 60px;
      margin-top: 97px;
      background: orange; }
  #statsPageWrapper #statsPage {
    margin: 10px 0px 20px 10px; }
    #statsPageWrapper #statsPage .pokedexEntry {
      margin-left: 10px;
      margin-right: 15px; }
    #statsPageWrapper #statsPage .pokemonStatsBarGraph {
      margin: 0px 0px 0px 20px; }
    #statsPageWrapper #statsPage .tableRow {
      margin: 0px 0px 0px 20px; }
      #statsPageWrapper #statsPage .tableRow .pokemonStatsTable {
        display: inline-block; }
    #statsPageWrapper #statsPage #row3 {
      margin-bottom: 20px; }
    #statsPageWrapper #statsPage #level100 {
      margin: 20px 0px 0px 20px; }
    #statsPageWrapper #statsPage #level50 {
      margin: 20px 0px 0px 20px; }
    #statsPageWrapper #statsPage .movesSet {
      border: 1px solid;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top; }
    #statsPageWrapper #statsPage #more {
      margin: 0px 10px 10px 10px;
      width: 60px;
      height: 60px;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
      font-size: 50px; }

#statsPageWrapper::-webkit-scrollbar {
  display: none; }

[background="bug"] {
  background: #A8B820; }

[background="dark"] {
  background: #705848; }

[background="dragon"] {
  background: #7038F8; }

[background="electric"] {
  background: #F8D030; }

[background="fairy"] {
  background: #EE99AC; }

[background="fighting"] {
  background: #C03028; }

[background="fire"] {
  background: #F08030; }

[background="flying"] {
  background: #A890F0; }

[background="ghost"] {
  background: #705898; }

[background="grass"] {
  background: #78C850; }

[background="ground"] {
  background: #E0C068; }

[background="ice"] {
  background: #98D8D8; }

[background="normal"] {
  background: #A8A878; }

[background="poison"] {
  background: #A040A0; }

[background="psychic"] {
  background: #F85888; }

[background="rock"] {
  background: #B8A038; }

[background="steel"] {
  background: #B8B8D0; }

[background="water"] {
  background: #6890F0; }

.webBackground {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #F08030), color-stop(100%, #98D8D8)); }

[border="bug"] {
  border: 3px solid #A88820; }

[border="dark"] {
  border: 3px solid #702848; }

[border="dragon"] {
  border: 3px solid #7008F8; }

[border="electric"] {
  border: 3px solid #F8A030; }

[border="fairy"] {
  border: 3px solid #EE69AC; }

[border="fighting"] {
  border: 3px solid #C00028; }

[border="fire"] {
  border: 3px solid #F05030; }

[border="flying"] {
  border: 3px solid #A860F0; }

[border="ghost"] {
  border: 3px solid #702898; }

[border="grass"] {
  border: 3px solid #789850; }

[border="ground"] {
  border: 3px solid #E09068; }

[border="ice"] {
  border: 3px solid #98A8D8; }

[border="normal"] {
  border: 3px solid #A87878; }

[border="poison"] {
  border: 3px solid #A010A0; }

[border="psychic"] {
  border: 3px solid #F82888; }

[border="rock"] {
  border: 3px solid #B87038; }

[border="steel"] {
  border: 3px solid #B888D0; }

[border="water"] {
  border: 3px solid #6860F0; }

.poke_page {
  display: none; }

.mainBarMenu {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 10px 10px;
  z-index: 100; }
  .mainBarMenu li {
    display: inline; }
    .mainBarMenu li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: black;
  z-index: 100; }
  .header p {
    font-size: 27px;
    text-align: center;
    color: white;
    margin: 0px; }

.checkBox .checkbox {
  margin: 0px 0px 0px 0px; }

.checkBox .title {
  display: inline-block; }

.tabMenu {
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .tabMenu li {
    display: inline-block; }
    .tabMenu li a {
      color: black;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      transition: 0.2s;
      font-size: 17px;
      border-radius: 10px 10px 0px 0px;
      margin-right: -3px; }

.scrollbar {
  position: fixed; }
  .scrollbar .thumb {
    -webkit-mask: url("/res/img/stock/scrollbar_mask.png");
    height: 60px;
    margin-top: 97px;
    background: orange; }

.movesFilterTable {
  display: inline-block; }
  .movesFilterTable .row {
    margin: 0px 0px 20px 0px; }
    .movesFilterTable .row .cell {
      display: inline-block;
      vertical-align: top;
      margin: 0px 20px 0px 0px; }
  .movesFilterTable .table {
    display: table; }
    .movesFilterTable .table .row {
      display: table-row; }
      .movesFilterTable .table .row .cell {
        display: table-cell; }
  .movesFilterTable h3 {
    margin: 10px 10px 5px 10px; }
  .movesFilterTable .checkBox {
    margin: 0px 0px 5px 10px; }
  .movesFilterTable .minMaxTextBox {
    margin: 0px 0px 0px 10px; }
  .movesFilterTable .clearButton {
    display: block;
    margin: 37px 0px 10px 0px;
    width: 111px;
    height: 65px; }
  .movesFilterTable .removeButton {
    display: block;
    margin: 0px 0px 0px 0px;
    width: 111px;
    height: 65px; }
  .movesFilterTable [filterCategory="type"] .checkBox .title {
    width: 70px;
    border-radius: 7px;
    text-align: center; }

.movesListTable {
  width: 779.02px; }
  .movesListTable .table .row {
    display: flex; }
    .movesListTable .table .row .cell {
      display: inline-block;
      padding: 5px 0px 5px 0px;
      text-align: center;
      border-width: 1px 1px 0px 0px; }
    .movesListTable .table .row .right {
      border-right-width: 0px; }
    .movesListTable .table .row [type="move"] {
      width: 20%; }
    .movesListTable .table .row [type="type"] {
      width: 10%; }
      .movesListTable .table .row [type="type"] .text {
        margin: auto;
        width: 70px;
        border-radius: 7px; }
    .movesListTable .table .row [type="category"] {
      width: 10%; }
    .movesListTable .table .row [type="power"] {
      width: 5%; }
    .movesListTable .table .row [type="accuracy"] {
      width: 5%; }
    .movesListTable .table .row [type="effect"] {
      width: 45%;
      overflow: hidden; }
    .movesListTable .table .row [type="pp"] {
      width: 5%; }

.pokemonStatsTable .tableData .row {
  margin: 10px 0px 0px 0px;
  white-space: nowrap; }

.pokemonStatsTable .tableData .cell {
  display: inline-block;
  vertical-align: middle; }

.pokemonStatsTable .tableData .col0 {
  width: 150px; }

.pokemonStatsTable .tableData .col1 {
  width: 50px; }

.pokemonStatsBarGraph .graphData .row {
  margin: 10px 0px 0px 0px;
  white-space: nowrap; }

.pokemonStatsBarGraph .graphData .cell {
  display: inline-block;
  vertical-align: middle; }

.pokemonStatsBarGraph .graphData .col0 {
  width: 100px; }

.pokemonStatsBarGraph .graphData .col1 {
  width: 50px; }

.pokemonStatsBarGraph .graphData .col2 .statBar {
  height: 25px;
  display: inline-block; }

.pokemonStatsBarGraph .graphData .col2 .barCover {
  background: white; }

.pokemonStatsBarGraph .graphData .col2 .hpBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(31%, yellow), color-stop(100%, lime));
  width: 765px; }

.pokemonStatsBarGraph .graphData .col2 .attackBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(47%, yellow), color-stop(100%, lime));
  width: 570px; }

.pokemonStatsBarGraph .graphData .col2 .defenseBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(36%, yellow), color-stop(100%, lime));
  width: 690px; }

.pokemonStatsBarGraph .graphData .col2 .spAttackBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(44%, yellow), color-stop(100%, lime));
  width: 582px; }

.pokemonStatsBarGraph .graphData .col2 .spDefenseBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(36%, yellow), color-stop(100%, lime));
  width: 690px; }

.pokemonStatsBarGraph .graphData .col2 .speedBar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(43%, yellow), color-stop(100%, lime));
  width: 540px; }

.minMaxTextBox .minText {
  display: inline-block; }

.minMaxTextBox .minInput {
  width: 30px; }

.minMaxTextBox .maxText {
  display: inline-block; }

.minMaxTextBox .maxInput {
  width: 30px; }

.minMaxTextBox .submitButton {
  margin: 0px 0px 0px 10px; }
