#pokemonImage{
	position: absolute;
	top: 100px;
	left: 0px;
	width: 256px;
	height: 256px;
	margin-left: 10px;

	img{
		width: 256px;
		height: 256px;
	}
}
#basicInfo{
	position: absolute;
	width: 256px;
	margin-left: 10px;
	margin-bottom: 10px;
	top: 400px;
	left: 0px;

	div{
		margin: 5px;
	}
	h1{
		margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 0px;
	}
	.subtitle{
		margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 0px;
	}
	#altName{
		margin-left: 5px;
		margin-top: 0px;
		margin-bottom: 15px;
	}
}
#statPageTab{
	position: fixed;
	width: 75%;
	left: 300px;
	top: 110px;
}
#statsPage{
	position: fixed;
	top: 137px;
	bottom: 10px;
	left: 300px;
	right: 10px;
	z-index: -1;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;

	.pokedexEntry{
		margin-left: 10px;
	}
	.statBarGraph{
		margin: 0px 0px 0px 20px;
	}
	.tableRow{
		margin: 0px 0px 0px 20px;
		.statTable{
			display: inline-block;
		}
	}
	.addButton{
		margin: 10px 10px 10px 10px;
		width: 60px;
		height: 60px;
		display: inline-block;
		white-space: nowrap;
		vertical-align: top;
	}
	#row3{
		margin-bottom: 20px;
	}
	#level100{
		margin: 20px 0px 0px 20px; 
	}
	#level50{
		margin: 20px 0px 0px 20px;
	}
	.movesList{
		border: 1px solid black;
		margin: 10px 10px 10px 10px;
		display: inline-block;
	}
}
#statsPage::-webkit-scrollbar{
	display: none;
}