[border="Bug"] {
  border: 3px solid #A88820; }

[border="Dark"] {
  border: 3px solid #702848; }

[border="Dragon"] {
  border: 3px solid #7008F8; }

[border="Electric"] {
  border: 3px solid #F8A030; }

[border="Fairy"] {
  border: 3px solid #EE69AC; }

[border="Fighting"] {
  border: 3px solid #C00028; }

[border="Fire"] {
  border: 3px solid #F05030; }

[border="Flying"] {
  border: 3px solid #A860F0; }

[border="Ghost"] {
  border: 3px solid #702898; }

[border="Grass"] {
  border: 3px solid #789850; }

[border="Ground"] {
  border: 3px solid #E09068; }

[border="Ice"] {
  border: 3px solid #98A8D8; }

[border="Normal"] {
  border: 3px solid #A87878; }

[border="Poison"] {
  border: 3px solid #A010A0; }

[border="Psychic"] {
  border: 3px solid #F82888; }

[border="Rock"] {
  border: 3px solid #B87038; }

[border="Steel"] {
  border: 3px solid #B888D0; }

[border="Water"] {
  border: 3px solid #6860F0; }
