.statBarGraph .graphTitle {
  margin-left: 10px; }

.statBarGraph .graphData {
  margin-left: 10px; }
  .statBarGraph .graphData .row {
    margin: 10px 0px 0px 0px;
    white-space: nowrap; }
  .statBarGraph .graphData .cell {
    display: inline-block;
    vertical-align: middle; }
  .statBarGraph .graphData .col0 {
    width: 100px; }
  .statBarGraph .graphData .col1 {
    width: 50px; }
  .statBarGraph .graphData .col2 .statBar {
    height: 25px;
    display: inline-block; }
  .statBarGraph .graphData .col2 .barCover {
    background: white; }
  .statBarGraph .graphData .col2 .hpBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(31%, yellow), color-stop(100%, lime));
    width: 765px; }
  .statBarGraph .graphData .col2 .attackBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(47%, yellow), color-stop(100%, lime));
    width: 570px; }
  .statBarGraph .graphData .col2 .defenseBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(36%, yellow), color-stop(100%, lime));
    width: 690px; }
  .statBarGraph .graphData .col2 .spAttackBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(44%, yellow), color-stop(100%, lime));
    width: 582px; }
  .statBarGraph .graphData .col2 .spDefenseBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(36%, yellow), color-stop(100%, lime));
    width: 690px; }
  .statBarGraph .graphData .col2 .speedBar {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(43%, yellow), color-stop(100%, lime));
    width: 540px; }
