.statTable .tableData .row {
  margin: 10px 0px 0px 0px;
  white-space: nowrap; }

.statTable .tableData .cell {
  display: inline-block;
  vertical-align: middle; }

.statTable .tableData .col0 {
  width: 150px; }

.statTable .tableData .col1 {
  width: 50px; }
