$bugBorder: #A88820;
$darkBorder: #702848;
$dragonBorder: #7008F8;
$electricBorder: #F8A030;
$fairyBorder: #EE69AC;
$fireBorder: #F05030;
$fightingBorder: #C00028;
$flyingBorder: #A860F0;
$ghostBorder: #702898;
$grassBorder: #789850;
$groundBorder: #E09068;
$iceBorder: #98A8D8;
$normalBorder: #A87878;
$poisonBorder: #A010A0;
$psychicBorder: #F82888;
$rockBorder: #B87038;
$steelBorder: #B888D0;
$waterBorder: #6860F0;


[border="Bug"]{
	border: 3px solid $bugBorder;
}
[border="Dark"]{
	border: 3px solid $darkBorder;
}
[border="Dragon"]{
	border: 3px solid $dragonBorder;
}
[border="Electric"]{
	border: 3px solid $electricBorder;
}
[border="Fairy"]{
	border: 3px solid $fairyBorder;
}
[border="Fighting"]{
	border: 3px solid $fightingBorder;
}
[border="Fire"]{
	border: 3px solid $fireBorder;
}
[border="Flying"]{
	border: 3px solid $flyingBorder;
}
[border="Ghost"]{
	border: 3px solid $ghostBorder;
}
[border="Grass"]{
	border: 3px solid $grassBorder;
}
[border="Ground"]{
	border: 3px solid $groundBorder;
}
[border="Ice"]{
	border: 3px solid $iceBorder;
}
[border="Normal"]{
	border: 3px solid $normalBorder;
}
[border="Poison"]{
	border: 3px solid $poisonBorder;
}
[border="Psychic"]{
	border: 3px solid $psychicBorder;
}
[border="Rock"]{
	border: 3px solid $rockBorder;
}
[border="Steel"]{
	border: 3px solid $steelBorder;
}
[border="Water"]{
	border: 3px solid $waterBorder;
}