#basicInfo {
  position: absolute;
  width: 256px;
  margin-left: 10px;
  top: 400px;
  left: 0px; }
  #basicInfo p {
    margin: 5px; }
  #basicInfo h1 {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo .subtitle {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #basicInfo #altName {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 15px; }
  #basicInfo .dataLine {
    margin: 5px; }
    #basicInfo .dataLine .data {
      display: inline;
      margin: 0; }
