#pokemonImageWrapper{
	position: absolute;
	top: 100px;
	left: 0px;
	width: 256px;
	height: 256px;
	margin-left: 10px;
	border: 3px solid;

	img{
		width: 256px;
		height: 256px;
	}
}
#basicInfo{
	position: absolute;
	width: 256px;
	margin-left: 10px;
	margin-bottom: 10px;
	top: 400px;
	left: 0px;
	border: 3px solid;

	div{
		margin: 5px;
	}
	h1{
		margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 0px;
	}
	.subtitle{
		margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 0px;
	}
	#altName{
		margin-left: 5px;
		margin-top: 0px;
		margin-bottom: 15px;
	}
}
#statPageTab{
	position: fixed;
	width: 75%;
	left: 300px;
	top: 110px;
	#pokedex{
		border: 3px solid;
	}
	#stats{
		border: 3px solid;
	}
	#moves{
		border: 3px solid;
	}
}
#statsPageWrapper{
	position: fixed;
	top: 137px;
	bottom: 10px;
	left: 300px;
	right: 10px;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	border: 3px solid;

	#statsPage{
		float: left;
		margin: 10px 0px 15px 10px;
		.pokedexEntry{
			white-space: normal;
			margin: 0px 15px 10px 0px;
			//margin-left: 10px;
			//margin-right: 15px;
		}
		.pokemonStatsBarGraph{
			margin: 0px 0px 0px 20px;
		}
		.tableRow{
			margin: 0px 0px 0px 20px;
			.pokemonStatsTable{
				display: inline-block;
			}
		}
		#row3{
			margin-bottom: 20px;
		}
		#level100{
			margin: 20px 0px 0px 20px; 
		}
		#level50{
			margin: 20px 0px 0px 20px;
		}
		.movesSet{
			border: 1px solid;
			display: inline-block;
			margin-right: 10px;
			vertical-align: top;
		}
		.movesFilterTable{
		}
		#more{
			margin: 0px 10px 10px 10px;
			width: 60px;
			height: 60px;
			display: inline-block;
			white-space: nowrap;
			vertical-align: top;
			font-size: 50px;
		}
	}
}
#statsPageWrapper::-webkit-scrollbar{
	display: none;
}