.movesTable{
	width: 766px;
	.table{
		.row{
			display: flex;
			.cell{
		    	display: inline-block;
		    	padding: 5px 0px 5px 0px;
		    	text-align:center;
		    	border-width: 1px;
				margin-bottom: -1px;
				margin-left: -1px;
			}
			[type="move"]{
	    		width: 20%;
		    }
		    [type="type"]{
		    	width: 10%;
		    	.text{
		    		margin: auto;
					width: 70px;
					border-radius: 7px;
				}	
		    }
		    [type="category"]{
				width: 10%;
		    }
		    [type="power"]{
		    	width: 5%;	
		    }
		    [type="accuracy"]{
		    	width: 5%;
		    }
		    [type="effect"]{
		    	width: 44%;
		    	overflow: hidden;
		    }
		    [type="pp"]{
		    	width: 5%;
		    }
		}
	}
}