$bugBackground: #A8B820;
$darkBackground: #705848;
$dragonBackground: #7038F8;
$electricBackground: #F8D030;
$fairyBackground: #EE99AC;
$fireBackground: #F08030;
$fightingBackground: #C03028;
$flyingBackground: #A890F0;
$ghostBackground: #705898;
$grassBackground: #78C850;
$groundBackground: #E0C068;
$iceBackground: #98D8D8;
$normalBackground: #A8A878;
$poisonBackground: #A040A0;
$psychicBackground: #F85888;
$rockBackground: #B8A038;
$steelBackground: #B8B8D0;
$waterBackground: #6890F0;

$fireIceBackground: linear-gradient($fireBackground, $iceBackground);

[background="bug"]{
	background: $bugBackground;
}
[background="dark"]{
	background: $darkBackground;
}
[background="dragon"]{
	background: $dragonBackground;
}
[background="electric"]{
	background: $electricBackground;
}
[background="fairy"]{
	background: $fairyBackground;
}
[background="fighting"]{
	background: $fightingBackground;
}
[background="fire"]{
	background: $fireBackground;
}
[background="flying"]{
	background: $flyingBackground;
}
[background="ghost"]{
	background: $ghostBackground;
}
[background="grass"]{
	background: $grassBackground;
}
[background="ground"]{
	background: $groundBackground;
}
[background="ice"]{
	background: $iceBackground;
}
[background="normal"]{
	background: $normalBackground;
}
[background="poison"]{
	background: $poisonBackground;
}
[background="psychic"]{
	background: $psychicBackground;
}
[background="rock"]{
	background: $rockBackground;
}
[background="steel"]{
	background: $steelBackground;
}
[background="water"]{
	background: $waterBackground;
}

$webColors: -webkit-gradient(linear, left top, right bottom,
			color-stop(25%, $fireBackground),
			color-stop(100%, $iceBackground));

.webBackground{
	background: $webColors;
}
