$bugBorder: #A88820;
$darkBorder: #702848;
$dragonBorder: #7008F8;
$electricBorder: #F8A030;
$fairyBorder: #EE69AC;
$fireBorder: #F05030;
$fightingBorder: #C00028;
$flyingBorder: #A860F0;
$ghostBorder: #702898;
$grassBorder: #789850;
$groundBorder: #E09068;
$iceBorder: #98A8D8;
$normalBorder: #A87878;
$poisonBorder: #A010A0;
$psychicBorder: #F82888;
$rockBorder: #B87038;
$steelBorder: #B888D0;
$waterBorder: #6860F0;


[border="bug"]{
	border: 3px solid $bugBorder;
}
[border="dark"]{
	border: 3px solid $darkBorder;
}
[border="dragon"]{
	border: 3px solid $dragonBorder;
}
[border="electric"]{
	border: 3px solid $electricBorder;
}
[border="fairy"]{
	border: 3px solid $fairyBorder;
}
[border="fighting"]{
	border: 3px solid $fightingBorder;
}
[border="fire"]{
	border: 3px solid $fireBorder;
}
[border="flying"]{
	border: 3px solid $flyingBorder;
}
[border="ghost"]{
	border: 3px solid $ghostBorder;
}
[border="grass"]{
	border: 3px solid $grassBorder;
}
[border="ground"]{
	border: 3px solid $groundBorder;
}
[border="ice"]{
	border: 3px solid $iceBorder;
}
[border="normal"]{
	border: 3px solid $normalBorder;
}
[border="poison"]{
	border: 3px solid $poisonBorder;
}
[border="psychic"]{
	border: 3px solid $psychicBorder;
}
[border="rock"]{
	border: 3px solid $rockBorder;
}
[border="steel"]{
	border: 3px solid $steelBorder;
}
[border="water"]{
	border: 3px solid $waterBorder;
}